:root {
	
	--menu_items: 4;
	
	--border: 1.5vmin;
	--border2x: 20%;
	--border_type: solid;
	--radius: 0.3vmin;
	
	--font_m: 3.5mm;
	--font_t: 4mm;
	--font_d: 4.5mm;
	
	--max_w: 1280px;
	
	--persp: 30cm;
	
	--frame_w1: 0 0 0 2vmin;
	--frame_w2: 0 0 0 2vmin;
	--frame_w3: 0 0 0 2vmin;
	--frame_w4: 0 0 0 2vmin;
	--frame_logo: 0 0 0 0;
	--frame_photo: 0 0 0 0;
	
	--c1_hue: 150;
	--c2_hue: 180;
	--c3_hue: 200;
	--c4_hue: 220;

	--c_sat: 70%;
	
	--c_l_text: 15%;
	--c_l_bg: 85%;
	--c_l_border: 30%;
	
	--c1_sat: var(--c_sat);
	--c2_sat: var(--c_sat);
	--c3_sat: var(--c_sat);
	--c4_sat: var(--c_sat);
	
	--alpha: 1;
	
	--icons: block;
	
	--anim_trans_time_m: 0.2s;
	--anim_trans_time_t: 0.3s;
	--anim_trans_time_d: 0.5s;
	
	--c1_t: hsla( var(--c1_hue), var(--c1_sat), var(--c_l_text), var(--alpha));
	--c1_bg: hsla( var(--c1_hue), var(--c1_sat), var(--c_l_bg), var(--alpha));
	--c1_bg_s: hsla( var(--c1_hue), var(--c1_sat), var(--c_l_bg), 1);
	--c1_b: hsla( var(--c1_hue), var(--c1_sat), var(--c_l_border), var(--alpha));
	
	--c2_t: hsla( var(--c2_hue), var(--c2_sat), var(--c_l_text), var(--alpha));
	--c2_bg: hsla( var(--c2_hue), var(--c2_sat), var(--c_l_bg), var(--alpha));
	--c2_bg_s: hsla( var(--c2_hue), var(--c2_sat), var(--c_l_bg), 1);
	--c2_b: hsla( var(--c2_hue), var(--c2_sat), var(--c_l_border), var(--alpha));
	
	--c3_t: hsla( var(--c3_hue), var(--c3_sat), var(--c_l_text), var(--alpha));
	--c3_bg: hsla( var(--c3_hue), var(--c3_sat), var(--c_l_bg), var(--alpha));
	--c3_bg_s: hsla( var(--c3_hue), var(--c3_sat), var(--c_l_bg), 1);
	--c3_b: hsla( var(--c3_hue), var(--c3_sat), var(--c_l_border), var(--alpha));
	
	--c4_t: hsla( var(--c4_hue), var(--c4_sat), var(--c_l_text), var(--alpha));
	--c4_bg: hsla( var(--c4_hue), var(--c4_sat), var(--c_l_bg), var(--alpha));
	--c4_bg_s: hsla( var(--c4_hue), var(--c4_sat), var(--c_l_bg), 1);
	--c4_b: hsla( var(--c4_hue), var(--c4_sat), var(--c_l_border), var(--alpha));
	--logo_b: black;
	
	--c0: hsla( var(--c1_hue) , 100%, 100%, 0.75);
}

@font-face {
    font-family: 'FontAwesome2';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

[class*=""], [id*=""], body, h1, h2, h3, h4, p {
	display: inline-block;
	behavior: url(./ie/PIE.htc);
	behavior: url(./ie/boxsizing.htc);
}

.header, .menu li, #pasteContent, .aside, .footer, .logo img, .photo, .iframe-rwd {
	box-shadow: -1vmin 1vmin 2vmin rgba(0,0,0,0.15), -0.8vmin 0.8vmin 1.2vmin rgba(0,0,0,0.34);
	border-style: var(--border_type);
	border-radius: var(--radius);
	border-width: 0;
	behavior: url(./ie/PIE.htc);
	behavior: url(./ie/boxsizing.htc);
}

.header, .menu li, #pasteContent, .aside, .footer {
	background-image: linear-gradient(-90deg, hsla(0,0%,100%,.7), transparent);
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	box-sizing: inherit;
	transition: all var(--anim_trans_time_m) ease;
	transition-style: preserve-3d;
	transition-property: box-shadow, background, color, background-color, transform, padding, text-shadow, filter;
	text-rendering: optimizeLegibility;
	animation-duration: var(--anim_trans_time_m);
	animation-delay: 0s;
	behavior: url(./ie/PIE.htc);
	behavior: url(./ie/boxsizing.htc);
	}

span {
	display: inline !important;
}

html {
	box-sizing: border-box;
	font-family: "Book Antiqua", "Palatino Linotype", Palatino, Times, serif;
	font-size: var(--font_m);
	/*font-size-adjust: 0.42;*/
	line-height: 1.4;
	background: transparent url(../img/bg.jpg) 0 0  repeat;
	max-width: var(--max_w);
	margin: auto;
	perspective: var(--persp);
	letter-spacing: -0.04em;
	font-variant-ligatures: common-ligatures
							discretionary-ligatures
							historical-ligatures;
}

body {
	overflow-y: auto;
	overflow-x: hidden;
	margin: var(--border);
	background-color: var(--c0);
	}

h1 {
	font-size: 165%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 110%;
}

p {
	font-size: 100%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: var(--border);
    border: 0.075em var(--border_type) currentColor;
    background-color: currentColor;
    color: currentColor;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	padding: var(--border);
}

.header {
	float: right;
	padding: var(--border);
	color: var(--c1_t);
	border-color: var(--c1_b);
	background-color: var(--c1_bg);
	border-width: var(--frame_w1);
}
	
.name {
	white-space: nowrap;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu li {
	float: left;
	padding: var(--border);
	margin-bottom: var(--border);
	color: var(--c2_t);
	border-color: var(--c2_b);
	border-width: var(--frame_w2);
	background-color: var(--c2_bg);
	width: calc( 100% / var(--menu_items) );
}

.menu li:hover, .menu li:target {
	background-color: var(--c2_t);
	color: var(--c2_bg);
}

.menu li:active, .menu li:target {
	transform: translate(0, 20%);
}

a {
	text-decoration: none;
	color: inherit;
}
	
#pasteContent {
	padding: var(--border);
	color: var(--c3_t);
	border-color: var(--c3_b);
	border-width: var(--frame_w3);
	background-color: var(--c3_bg);
	max-width: 100%;
	overflow-x: hidden;
}

#pasteContent ol {
	list-style-type: decimal;
	margin: var(--border);
	padding: 0;
	list-style-position: inside;
}

#pasteContent li {
	background: inherit;
	transform: inherit;
}

#pasteContent a:after {
	content: '\f0a5';
	font-family: FontAwesome, 'FontAwesome2';
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 1vmin;
	text-decoration: none;
}

#pasteContent a:hover {
	text-shadow: 0 0 .3em, 0 0 .6em white, 0 0 .3em, 0 0 .6em white;
}

#pasteContent a:active {
	transform: scale(0.95);
}

.aside {
	padding: var(--border);
	text-align: center;
	color: var(--c4_t);
	border-color: var(--c4_b);
	border-width: var(--frame_w4);
	background-color: var(--c4_bg);
	overflow-x: hidden;
}

.footer {
	padding: var(--border);
	text-align: center;
	color: var(--c1_t);
	border-color: var(--c1_b);
	border-width: var(--frame_w1);
	background-color: var(--c1_bg);
}

.logo {
	margin: var(--border);
	margin-left: initial;
	float: left;
	display: block;
	width: 100%;
}

.logo img {
	border-color: var(--logo_b);
	border-width: var(--frame_logo);
	height: inherit;
	width: inherit;
	display: inherit;
	opacity: var(--alpha);
    filter: alpha( opacity = var(--alpha) );
}

.logo img:active {
	transform: translate(10%, 10%) scale(0.8, 0.8);
	box-shadow: none;
}

.test:active:after {
	content: " antoni.mitus@pwr.edu.pl";
	font: inherit;
}

.photo, .cv {
	position: relative;
	max-width: 25%;
	max-height: 90%;
	border-width: var(--frame_photo);
	z-index: 3;
}

.iframe  {
	position: relative;
	padding-bottom: 100%;
	padding-top: var(--border);
	height: 0;
	overflow: hidden;
	text-align: center;
}

.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.icon:before {
	content: "";
	font-family: FontAwesome, 'FontAwesome2';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: var(--icons);
	margin-bottom: 0.25em;
}

#univ:before {
	content: '\f19c' !important;
}

#addr:before {
	content: '\f0e0' !important;
}

#tel:before {
	content: '\f095' !important;
}

#mail:before {
	content: '\f1fa' !important;
}

#achtung:before {
	content: '\f0a1' !important;
	font-family: FontAwesome, 'FontAwesome2';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: var(--icons);
	margin: 0 !important;
	left: var(--border);
	padding-right: 1em;
	float: left;
}

#students:before {
	content: '\f0c0' !important;
}

#news {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	padding-top: 0 !important;
	text-align: justify;
	hyphens: auto;
}
	
/*@supports ( not ( hyphens: auto ) ) {
	#news {
		word-break: break-word;
		word-break: break-all;
	}
}*/	

#newsHeader {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	min-width: 100%;
}

.blankPage {
	position: fixed;
	z-index: 1 !important;
	background: transparent url(../img/bg.jpg) 0 0  repeat;
	min-height: 100%;
	min-width: 100%;
	color: white;
	padding-top: 20%;
	font-size: 300%;
	text-align: center;
}
	
#wrapper {
	display: none;
}

.aside #news div {
	float: left;
	max-width: 50%;
}

.aside h4, .aside p {
	margin: var(--border);
}

.cv {
	bottom: var(--border);
}

[class*="col-"] {
	width: 100%;
}

.col-m-0 {
	width: 0;
	margin-top: -100%;
}

/* Old phones */
@media only screen and (max-width: 300px) {
	.aside div {
		max-width: 100% !important;
	}
}

/* Tablets: */
@media only screen and (min-width: 640px) and (max-width: 1024px) {
	*, *:before, *:after {
		transition-duration: var(--anim_trans_time_t) !important;
		animation-duration: var(--anim_trans_time_t) !important;
	}
	
	html {
		font-size: var(--font_t) !important;
		letter-spacing: -0.03em !important;
		line-height: 1.45em !important;
	}

	.col-t-0 {width: 0;}
	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%; }
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}

	.menu li {
		float: none !important;
		width: 100% !important;
	}

	.menu li:active, .menu li:target {
		transform: translate(20%, 0) !important;
	}
	
	.logo {
		float: right !important;
		margin: 0 !important;
		margin-top: -75% !important;
		transform: translate(0, 75%) !important;
		z-index: 1;
	}
	
	.col-t-r {
		float: right !important;
	}
	
	.aside #news div {
		max-width: 33% !important;
	}
	
	.col-m-0 {
		margin-top: 0 !important;
	}
}

/* Desktop: */
@media only screen and (min-width: 1025px) {
	*, *:before, *:after {
		transition-duration: var(--anim_trans_time_d) !important;
		animation-duration: var(--anim_trans_time_d) !important;
	}
	
	html {
		font-size: var(--font_d) !important;
		height: 100vh;
		max-height: 100vh;
		overflow: hidden !important;
		letter-spacing: normal !important;
		line-height: 1.5em !important;
	}
	
	body {
		overflow: hidden !important;
	}
	
	.col-0 {width: 0;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	.col-m-0 {
		margin-top: 0 !important;
	}
	
	.logo:hover {
		filter: brightness(120%) contrast(90%);
		transform: scale(1.3, 1.3);
	}
	
	.menu li {
		float: none !important;
		width: 100% !important;
	}
	
	.menu li:hover, .menu li:target {
		padding-left: var(--border2x)  !important;
	}

	.menu li:active, .menu li:target {
		transform: translate(1.5vh, 0.3vh) scale(0.9)  !important;
		box-shadow: none;
		padding-left: var(--border2x);
	}
	
	#pasteContent {
		height: auto;
	}
	
	.photo:hover {
		filter: brightness(120%) contrast(90%);
		cursor: zoom-in;
	}

	.photo:active, .cv:active {
		cursor: zoom-out;
		filter: none;
		max-width: 100%;
	}
	
	#news {
		height: auto;
		padding-right: 0 !important;
	}
	
	.aside {
		padding-right: 0;

	}
	
	.aside #news div {
		max-width: 100% !important;
	}
	
	.aside p {
		margin: auto;
	}

}
