<img class="photo" src="img/photo.jpg"  alt="Me"/>
<h3>prof. dr&nbsp;hab. inż. <nowrap>Antoni&nbsp;C.&nbsp;Mituś</nowrap>
</h3><br>
<div class="icon" id="univ">
<p>Katedra Fizyki Teoretycznej
</p>
<p>Wydział Podstawowych Problemów Techniki
</p>
<p>Politechnika Wrocławska
</p></div><br/>
<div class="icon" id="addr">
<p>Wybrzeże Wyspiańskiego 27
</p>
<p>50-370 Wrocław
</p>
<p>pok. 262e, budynek A1
</p></div><br/>
<div class="icon" id="tel">
<p>tel. +48 71 320 4270
</p></div><br/>
<div class="icon" id="mail">
<p class="test">email (klik)</p> 
</div><br/>
<div class="icon" id="students">
<p>Godziny kontaktowe: 
</p>
<br/>
<p><a href="http://polwro.pl/viewtopic.php?t=1875">Opinie - polwro</a>
</p></div>
<br>
