<div class="iframe"><h2>Google Calendar loading<span class="animated infinite fadeIn">...</span></h2><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=1&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;wkst=2&amp;src=panklucznik%40gmail.com&amp;ctz=Europe%2FWarsaw"  width=100% height=100% frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="z-index:100;"></iframe></div>
