<!-- Airly Widget Begin -->
<script src="https://airly.org/map/airly.js" type="text/javascript"></script>
<iframe id="airly_1667783215" src="https://airly.org/map/widget.html#w=280&h=380&m=true&i=true&d=false&ah=true&aw=true&l=pl&it=AIRLY_US_AQI&us=metric&ut=celsius&lat=51.103825&lng=17.111245&id=11232" style="width:100%; height:auto;border:none;"></iframe>
<!-- Airly Widget End -->
